{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesre.css' %}">
    <link rel="icon" type="image/png" href="/media/loigo EC.png">
</head>
<body>
    <header>
        <div class="header">
            <div onclick="location.href='{%url 'main' %}';">
                <img src="media/loigo EC.png" alt="Logo" class="logo">
                <span class="label">Educacion Continua</span>
            </div>
        </div>
    </header>

    <form class="formulario">
        <h2>Registro</h2>

        <div class="campo">
            <label for="nombres">Nombres:</label>
            <input type="text" id="nombre" name="nombre" required>     
        </div>
        
        <div class="campo">
            <label for="apellidos">Apellidos:</label>
            <input type="text" id="apellidos" name="apellidos" required>            
        </div>

        <div class="campo">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>    
        </div>
        
        <label for="procedencia">Usted es:</label>

        <div class="campo-radio">

            <div class="rdio">
                <input type="radio" id="Estudiante" name="procedencia" value="Estudiante">
                <label for="EstudianteUPSIN">Estudiante UPSIN</label>
            </div>
            <div class="rdio">
                <input type="radio" id="Egresado" name="procedencia" value="Egresado">
                <label for="EgresadoUPSIN">Egresado UPSIN</label>
            </div>
            <div class="rdio">
                <input type="radio" id="Externo" name="procedencia" value="Externo"> 
                <label for="ExternoUPSIN">Exteno a UPSIN</label>
            </div>  

        </div>

          
        <div class="campo">
            <label for="Matricula" id="labelMatricula">Matricula:</label>
            <input type="text" id="Matricula" name="Matricula" required>   
        </div>

        <div class="campo">
            <label for="Institucion" id="labelInstitucion">Institucion:</label>
            <input type="text" id="Institucion" name="Institucion" required>    
        </div>

        <input class="button" type="submit" value="Registrarse">
    </form>

    <script src="{% static 'js/scriptre.js' %}"></script>   
</body>
</html>