{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="Cursos, Curso, Educacion Coninua, upsin, upsin cursos">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>Educacion Continua</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="/media/loigo EC.png">
</head>
<body>
    <header>
        <div class="header">
            <div class="logo_main", location.href='{%url 'main' %}';">
                <img src="media/loigo EC.png" alt="Logo" class="logo">
                <span class="label">Educacion Continua</span>
            </div>
            <button onclick="location.href='{% url 'Registro' %}';" class="register-button" >Pre-Registro</button>
        </div>
    </header>

    <section class="desarrollate">
        <div class="desarrollate-content">
            <h2 class="desarrollate-text"> Desarrollate </h2>
        </div>
    </section>

    <div class="slider-container">
        <h3 class="slider-title"> Cursos Disponibles </h3>
        <p class="slider-description"> Selecciona para ver mas información </p>
        <div class="slider">
            {% for course in courses %}
                <div class="box" id="{{ course.id }}" onclick="mostrarImagenCurso('{{ course.imagen.url }}')">
                    <img src="{{ course.imagen.url }}" alt="Image">
                    <h2>{{ course.titulo }}</h2>
                </div>
            {% empty %}
                <div class="NoBox">
                    <h2>No hay Cursos por el momento</h2>
                </div>
            {% endfor %}
        </div>
        <div class="arrows">
            <button class="prev-button" onclick="prevSlide()">&larr;</button>
            <button class="next-button" onclick="nextSlide()">&rarr;</button>
        </div>

    </div>

    <div id="imagen-curso">
        <img id="curso-imagen" src="" alt="Imagen del curso">
    </div>

    <button onclick="location.href='{% url 'login' %}';" class="register-button" >Pre-Registro</button>


    <footer class="footer">
        <img src="/media/Upsin_logo.png" alt="Upsin_logo" class="footer-img">
    </footer>
    
    <script src="{% static 'js/script.js' %}"></script>    
</body>
</html>


