<!-- administracion.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Página de Administración</title>
</head>
<body>
    <h1>Cursos de Capacitación</h1>
    <table>
        <tr>
            <th>Titulo</th>
            <th>Descripción</th>
            <th>Imagen</th>
            <!-- Otros campos que necesites mostrar -->
        </tr>
        {% for curso in cursos %}
            <tr>
                <td>{{ curso.titulo }}</td>
                <td>{{ curso.descripcion }}</td>
                <td><img source="{{ curso.imagen.url }}"></td>
                <!-- Otros campos que necesites mostrar -->
            </tr>
        {% endfor %}
    </table>

    <!-- Aquí agregar los enlaces o formularios para dar de alta, dar de baja, modificar y mostrar registros de personas -->
</body>
</html>
