<!-- administracion.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Página de Administración</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylescursos.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
</head>
<header>
    <button class="Logout" onclick="location.href='{% url 'logout' %}';"> Cerrar sesion </button>
</header>
    
<body>
    <h1>Cursos de Capacitación</h1>
    <div class="tablaCursos-container">
        <table class="tablaCursos">
        <tr>
            <th>Titulo</th>
            <th>Descripción</th>
            <th>Imagen</th>
            <!-- Otros campos que necesites mostrar -->
        </tr>
        {% for curso in cursos %}
            <tr>
                <td>{{ curso.titulo }}</td>
                <td>{{ curso.descripcion }}</td>
                <td><img src="{{ curso.imagen.url }}"></td>
                <!-- Otros campos que necesites mostrar -->
            </tr>
        {% endfor %}
    </table>
    </div>


    <div class="opciones">
        <button class="opcion" id="btnAgregar" onclick="abrirVentanaEmergente(1)">Agregar Curso</button>
        <button class="opcion" id="btnModificar" onclick="abrirVentanaEmergente(2)">Modificar Curso</button>
        <button class="opcion" id="btnEliminar" onclick="abrirVentanaEmergente(3)">Eliminar Curso</button>
    </div>

    <!-- Aquí agregar los enlaces o formularios para dar de alta, dar de baja, modificar y mostrar registros de personas -->
    <div id="ventanaEmergenteAgregar" class="modelo">
        <div class="modelo-Contenido">
            <span class="cerrar" onclick="cerrarVentanaEmergente(1)">&times;</span>
            <h2>Agregar Curso</h2>
            {{ form.as_p }}
            <form method="POST" id="formulario" enctype="multipart/form-data" action="{% url 'agregarCurso' %}">
                {% csrf_token %}              
                <div class="campo">
                    <label for="imagen">Imagen</label>
                    <input type="file" name="imagen" accept="image/*" required> <!-- Campo de entrada para la imagen -->
                </div>

                <div class="campo">
                    <label for="titulo">Nombre del Curso</label>
                    <input type="text" id="titulo" name="titulo" required>
                </div>

                <div class="campo">
                    <label for="descripcion">Descripcion del curso</label>
                    <input type="text" name="descripcion" id="descripcion" required>
                </div>
                <button type="submit">Agregar</button>
            </form>
        </div>
    </div>

    <div id="ventanaEmergenteModificar" class="modelo">
        <div class="modelo-Contenido">
           <span class="cerrar" onclick="cerrarVentanaEmergente(2)">&times;</span>
           <h2>Lista de Cursos</h2>
           <p>Seleccione un curso</p>
           {% for curso in cursos%}
                <li><a href="{% url 'editar_curso' curso.id %}">{{curso.titulo}}</a></li>
           {% endfor %}
        </div>
    </div>

    <div id="ventanaEmergenteEliminar" class="modelo">
        <div class="modelo-Contenido">
           <span class="cerrar" onclick="cerrarVentanaEmergente(3)">&times;</span>
           <h2>Lista de Cursos</h2>
           <p>Seleccione un curso</p>
           {% for curso in cursos%}
                <li><a href="{% url 'eliminar_curso' curso.id %}">{{curso.titulo}}</a></li>
           {% endfor %}
        </div>
    </div>


    <script src="{% static 'js/scriptVentanaEmergente.js' %}"></script>
</body>
</html>
