{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesadmin.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="/media/loigo EC.png">
</head>
<body>
    
    {{ form.as_p }}
    <div class="formulario-contenedor">
        
        <form action="" id="formulario">
            {% csrf_token %}
            <img src="/media/loigo EC.png" alt="">
            <div class="campo">
                <label for="usuario"> Usuario </label>
                <input type="text" id="usuario" required>
            </div>
            
            <div class="campo">
                <label for="contrasena">Contraseña</label>
                <input type="password" id="contrasena" required>                
            </div>

            <div class="boton">
                <button onclick="location.href='{%url 'administracion' %}';">Entrar</button>
            </div>
            <div class="mensaje"></div>
        </form>

    </div>
    
</body>
</html>