:root{
    --colorPrincipal: #2b4d77;
    --fuentePrincipal: 'Abril Fatface', sans-serif;
    --negro: #000;
    --blanco: #fff;
}

.header {
    background-color:  var(--colorPrincipal);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    color: var(--blanco);
    vertical-align: middle;
}

.logo {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

.label {
    font-size: 50px;
    margin-left: 10px;
    font-size: x-large;
    height: fit-content;
    max-height: fit-content;
    vertical-align: middle;
    text-align: center;
}

.register-button {
    background-color: var(--colorPrincipal);
    border: 2px solid var(--blanco);
    color: var(--blanco);
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    vertical-align: middle;
}

.register-button:hover {
    box-shadow: 0 0 5px var(--negro);
}

.box {
    width: 300px;
    border-radius: 10px;
    background-color: var(--colorPrincipal);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    text-align: center;
}

.NoBox{
    border-radius: 10px;
    background-color: var(--colorPrincipal);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    padding-top: 100px;
    margin: auto;
    text-align: center;
    width: 50%;
    height: 300px;
}

.NoBox h2 {
    color: var(--blanco);
    margin-bottom: 10px;
}

.box img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.box h2 {
    color: var(--blanco);
    margin-bottom: 10px;
}

.box p {
    color: #888;
}
.slider-container {
    position: relative;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s;
}

.box {
    width: 25%;
    padding: 20px;
    box-sizing: border-box;
}

.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 24px;
    color: var(--negro);
    cursor: pointer;
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}

/** Desarrollate **/

.desarrollate {
    position: relative;
    background-image: url(/media/Desarrollate-imagen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    margin-bottom: 1.5rem;
}

.desarrollate-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    background-color: rgb(0 0 0 / 70%);
}

.desarrollate-text {
    text-align: center;
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    margin-top: auto;
    font-size: 6rem;
}

/** COURSES **/

.courses{
    margin-top: 1.5rem;
}

.courses-course {
    display: grid;
    grid-template-columns: 60% 40%; 
    column-gap: 0.5rem;
}

.courses-description {
    background-color: var(--colorPrincipal);
    border-radius: 1rem;
}

.courses-title, .courses-text {
    color: var(--blanco);
    text-align: center;
}

.courses-title {
    font-size: 2rem;
}

.courses-text {
    font-size: 1.5rem;
}

.courses-link {
    display: grid;
    grid-template-rows: 60% 40%;
}

.courses-image {
    max-width: 100%;
    max-height: 100%;
    align-self: center;
    justify-self: center;
}

.courses-link p {
    color: var(--negro);
    font-family: var(--fuentePrincipal);
    font-size: 1.5rem;
    text-align: center;
}

/** Footer **/

.footer {
    margin-top: 1rem;
    background-color: var(--colorPrincipal);
    padding: 1rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.footer-img {
    width: 4rem;
    height: 4rem;

}

