:root {
    --colorPrincipal: #2b4d77;
    --fuentePrincipal: 'Abril Fatface', sans-serif;
    --negro: #000;
    --blanco: #fff;
}

body, html {
    background-color: var(--colorPrincipal);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

p, h2{
    text-align: center;
}

.formulario-contenedor {
    background-color: var(--blanco);
    width: 25rem;
    border-radius: 10px;
}

.formulario, .campo {
    display: flex;
    flex-direction: column;
}

.campo {
    align-items: center;
}

.formulario {
    gap: 1rem; 
    padding: 1rem;
}

textarea {
    width: 20rem;
    height: 10rem;
}

.formulario input {
    border-radius: 1rem;
    width: 20rem;
}

.campo button {
    margin: 0 auto;
}

input[type="text"], 
input[type="file"],
textarea {
  transition: transform 0.3s ease-in-out;
  border-radius: 10px;
  border: 2px solid var(--negro);
  font-size: 15px;
}

.campo input:focus {
    transform: scale(1.1);
}

.boton {
    display: flex;
    border-radius: 4px;
    background-color: var(--colorPrincipal);
    border: 2px solid var(--blanco);
    color: var(--blanco);
    justify-content: center;
    width: 100px;
    padding: 1rem;
    margin: 0 auto;
}

.boton:hover {
    background-color: #3c689d;
    cursor: pointer;
}